body{
    background-color:whitesmoke;
    color: #2e1f0c;
    font-family: "Questrial", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #FFEFF9;
    padding: 20px 0;
    padding: 5px;
    margin: 0;
}

main{
    background-color: whitesmoke;
    margin: 0%;
    padding: 10px;
}

.navbar{
    margin-bottom: 10px;
}

/*CSS para inicio de sesion */
#inicio-sesion{
    background-image: url("../images/fondo-inicio.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
}

.titulo{
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.btnIngresar{
    width: 50%;
    display: block;
    justify-content: center;
}

/*CSS para registro*/

.bodyRegistro{
    background-color:#FFEFF9;
}

#registro{
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

.lblRegistro{
    font-size: 25px;
    font-weight: bold;
}

.btnRegistro{
    background-color: greenyellow;
    font-weight: bolder;
    border-radius: 10px;
    border-color: greenyellow;
    height: 40px;
    width: 50%;
}

/*CSS para home */

.titulo-auto{
    text-align: center;
    text-decoration: double;
    font-size: xxx-large;
    margin: 20px;
}

.banner{
    width: 30%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.nav-item{
    font-size: large;
    font-weight: bold;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.bienvenida{
    text-align: center;
    font-size: 1.5em;
}

.principal{
    background: whitesmoke;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 140px;
    float: left;
    margin: 0 15px;
}

.mapa{
    padding: 3em;
    background: linear-gradient(whitesmoke, #EFC3B8);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}


.contenido{
    padding: 3em 0;
    background: linear-gradient(#EFC3B8, #E76849);
}

.video{
    margin: 1em auto;
    text-align: center;
    width: 560px;
}

.video .titulo-principal{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.795);
    margin-top: 35px;
}


footer{
    text-align: center;
}

/*CSS para autos*/
.elige-fechas{
    margin-top: 30px;
    margin-bottom: 0px;
}

.fechas-section{
    align-items: center;
    justify-content: center;
    height: 100%;
}

.renta{
    padding: 10px;
}

.fecha{
    margin: 10px;
}

.fecha-label{
    margin: 0 0 0 10px;
}

.btn-fechas{
    margin: 10px;
    background-color: #E76849 !important;
}

.elige-auto{
    margin-top: 30px;
    margin-bottom: 0px;
}

.section-cards{
    padding: 0 20px 20px 20px;
}

.card{
    border-radius: 15px;
}

.list-card{
    margin: 2px;
    padding: 2px;
}

.modelo{
    font-size: 18px;
    font-weight: bold;
}

.list-group-item{
    border: #2e1f0c1c !important;
}

.seat{
    margin: 0 0 0 35px;
}

.btn-elegir{
    background-color: #89A9D5 !important;
    border: none !important;
    width: 250px !important;
}

